*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  color:#ffffff;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #000000;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
} 
img{
  height: 110px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}
.card{
  border: 2px solid white;
  background-color: rgb(73, 72, 72);
  text-align: center;
  /* margin: 20px; */
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}
h1{
  margin: 10px 0px;
  padding:5px;
}
p{
  padding:10px;
  margin: 10px;
}
button{
  background-color: #e3d9d9;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}